@import url(./variablesYglobales.css);


body {
  margin: 0 auto;
  padding: 5px;
  font-family: 'Playfair Display', serif;
  /*
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--opcion-color);
}

