*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --main-color: hsl(223deg 100% 12%);
    --opcion-color: hsl(224deg 93% 17%);
    --shadow-color : hsl(223deg 45% 30%);
    --button-crazy: #f172bc;
    --button-crazy2: #904000;
    --sky: #33b1ff;
    --equilibrity-w: #d8dfd5;
    --sky: rgba(133,226,232,1);
    --soft-b: #b17c54;
}

/*
font-family: 'Playfair Display', serif;
hay de italic 400,
500,
700,
*/


