@import url(../variablesYglobales.css);



/*#121f3d
#09112a
#f172bc
#33b1ff
#d8dfd5
*/
.btnAddList{
    position:fixed;
    bottom:15px;
    right:15px;
    padding:12px;
    border-radius: 50%;
    background: var(--button-crazy2);
    border: none;
    color: var(--equilibrity-w);
}


.btnAddList:active{
    transform: scale(.9);
}

.fas.fa-plus{
    font-size: 25px;
}



.div-span{
    position: fixed;
    bottom:7px;
    left:5px;
    font-size:15px;
    font-weight: 500;
}
/* span{
    position: fixed;
    top:5px;
    right:5px;
    font-size:22px;
    margin-left:10px;
    margin-right: 10px;
} */
