@import url(../variablesYglobales.css);
section {
  text-align: center;
  margin: 25px auto;
}

.inputSearch {
  width: 85%;
  max-width: 350px;
  height: 48px;
  padding: 20px;
  outline: none;
  border: none;
  color: var(--equilibrity-w);
  border-radius: 15px;
  background-color: var(--button-crazy2);
}

input:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

input::-webkit-input-placeholder {
  text-align: center;
  color: var(--equilibrity-w);
}

input::-moz-placeholder {
  text-align: center;
  color: var(--equilibrity-w);
}

input:-ms-input-placeholder {
  text-align: center;
  color: var(--equilibrity-w);
}

input::-ms-input-placeholder {
  text-align: center;
  color: var(--equilibrity-w);
}

input::placeholder {
  text-align: center;
  color: var(--equilibrity-w);
}